body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  margin-left: 3%!important;
  margin-top: 3%!important;
  color: #333;
}


section {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.8em;
  margin-top: 0;
  font-family: inter;

}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

p {
  font-family: inter;
}



/* Responsive Design */
@media (max-width: 600px) {
  main {
    max-width: 80%;
  }

  h1 {
    font-size: 2em;
  }
}
html {
  height: 100%;
  width: 100%;
}
